*, *::before, *::after {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
}

.container {
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;
}


.header {
    background-color: #191919;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    line-height: 27px;
    column-gap: 40px;
}
.header__menu-link--active {
    color: #118DA8;
}

.level {
    background-color: #191919;
    padding: 40px 0 93px; 
}
.level__inner {
    display: flex;
    column-gap: 60px;
    align-items: center;
    position: relative;
}
.level__img {
    border-radius: 14px;
}
.level__inner::before {
    content: '';
    position: absolute;
    top: -26px;
    left: -26px;
    width: 68px;
    height: 74px;
    background-image: url(../images/level-img1.svg);
    background-repeat: no-repeat;
}
.level__texts {
    max-width: 526px;
}
.level__title {
    font-size: 70px;
    line-height: 88px;
    font-weight: 400;
    margin-bottom: 90px;
    letter-spacing: 3.2px;
}
.level__level {
    font-size: 80px;
    font-weight: 700;
}
.level__next {
    position: relative;
    font-size: 75px;
}
.level__next::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 163px;
    height: 11px;
    background-image: url(../images/underline.svg);
    background-repeat: no-repeat;    
}
.level__listen-text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}
.level__listen-apps a + a {
    margin-left: 17px;
}

.latest {
    background-color: #191919;
    padding-bottom: 260px;
}
.latest__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}
.latest__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.88px;
}
.latest__btn {
    font-size: 17px;
    line-height: 27px;
    padding: 12px 15px 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
}
.latest__item {
    display: flex;
    column-gap: 53px;
    background-color: #000;
    border-radius: 32px;
    padding: 40px;
}
.latest__item + .latest__item {
    margin-top: 60px;
}
.latest__item-content {
    margin-top: 8px;
    max-width: 770px;
}
.latest__item-tag {
    font-size: 18px;
    line-height: 27px;
    padding: 0 16px;
    background: #191919;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 48px;
}
.latest__item-num {
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 18px;
}
.latest__item-num span {
    font-size: 18px;
    padding-left: 5px;
}
.latest__item-title {
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
}
.latest__item-text {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
.latest__item-btn {
    font-size: 18px;
    line-height: 27px;
    padding: 12px 15px 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
}

.meet {
    background-color: #191919;
    padding-bottom: 201px;
}
.meet__inner {
    display: flex;
    justify-content: space-between;
}
.meet__texts {
    margin-top: 146px;
    max-width: 556px;
}
.meet__texts-img {
    margin-bottom: 20px;
}
.meet__subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}
.meet__title {
    font-size: 65px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.88px;
    margin-bottom: 28px;
}
.meet__text {
    color: rgba(255, 255, 255, 0.7);
}
.meet__text + .meet__text {
    margin-top: 33px; 
}
.meet__img {
    border-radius: 14px;
}

.subscribe {
    background-color: #191919;
    padding-bottom: 200px;
}
.subscribe__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 75px;
    background: #000000;
    border-radius: 32px;
    position: relative;
}
.subscribe__inner::after {
    content: '';
    width: 147px;
    height: 91px;
    position: absolute;
    left: -38px;
    top: 322px;
    background-image: url(../images/subscribe-1.svg);
}
.subscribe__texts {
    max-width: 431px;
}
.subscribe__subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}
.subscribe__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.88px;
}
.subscribe__form-name, .subscribe__form-email {
    display: block;
    padding: 26px 20px 27px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    width: 522px;
    max-width: 100%;
    margin-bottom: 20px;
}
.subscribe__form-name::placeholder, .subscribe__form-email::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.subscribe__form-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    background: #118DA8;
    border: none;
    border-radius: 6px;
    padding: 9px 15px 10px 19px;
}

.reviews {
    background-color: #191919;
    padding-bottom: 200px;
}
.reviews__inner {
    display: grid;
    grid-template-columns: repeat(3, 423px);
    gap: 16px;
}
.reviews__item {
    background: #000000;
    border-radius: 32px;
    padding: 54px 56px 51px 50px;
}
.reviews__item-img {
    margin-bottom: 21px;
}
.reviews__item-text {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 19px;
}
.reviews__item-author {
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    background-color: #191919;
    padding-bottom: 125px;
}
.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__logo-img {
    display: inline-block;
    margin-bottom: 20px;
}
.footer__insta {
    margin-right: 6px;
}
.footer__menu {
    justify-self: center;
}
.footer__nav {
    font-size: 18px;
    line-height: 27px;
}
.footer__nav-list + .footer__nav-list {
    margin-top: 10px;
}
.footer__listen-apps a + a {
    margin-left: 17px;
}